p {
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
    color: whitesmoke;
}
    @media screen and (max-width: 600px) {
        body {
          margin-top: 10px;
        }
      }
      
      @media (max-width: 640px) {
        #lastUpdated{
          font-size: small;
        }
      }

      app-root {
        height: 100%;
      }
