<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container mx-auto">
  

  

  <app-nav-bar style="z-index: 5;"
  (showAddCryptoChanged)="onShowAddCryptoChanged($event)"
  (clearDataEvent)="clearData()
  "></app-nav-bar>
  <app-add-crypto *ngIf="showAddCrypto" (cryptoAdded)="addToPortfolio($event)" (showModal)="closeModal()"></app-add-crypto>

  <div *ngIf="portfolio.length > 0">
    <p style="text-align: center;">Your portfolio is worth {{portfolioValue | currency:"USD"}}.</p>
    <app-pie-chart [portfolio]="portfolio"></app-pie-chart>
    <!-- <button (click)="clearData()" class="h-10 px-5 m-2 text-red-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline hover:bg-red-800">Clear Data</button> -->
    <app-crypto-table [portfolio]="portfolio" (entryDeleted)="deleteEntry($event)"></app-crypto-table>
  </div>
 
  <!-- <h1>TODO</h1>
  <p>Either find a better free API or finish setting up mongodb</p> -->
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
