.responsive-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  .responsive-table td{
    border: none;
  }
  @media (max-width: 640px) {
    .responsive-table th,
    .responsive-table td {
      padding: 8px;
      font-size: 12px;
      text-align: center;
      border: none;
    }
  }

  .symbol-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-size {
    width: 25px;
    height: 25px;
    margin-right: 4px;
  }
  .modal-container {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1rem;
    width: 100%;
  }

  .modal.dark {
    background-color: #1a202c;
    color: #d1d5db;
  }

  .close-btn {
    color: white;
    background-color: #3b82f6;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }

  @media (min-width: 500px) {
    .modal {
      width: 80%;
    }
  }

  @media (min-width: 640px) {
    .modal {
      width: 66.666667%;
    }
  }

  @media (min-width: 768px) {
    .modal {
      width: 50%;
    }
  }

  @media (min-width: 1024px) {
    .modal {
      width: 33.333333%;
    }
  }