<div class="overflow-x-auto shadow-md sm:rounded-lg w-full">
  <table class=" responsive-table w-full  text-gray-400 uppercase bg-gray-50 dark:bg-gray-00 dark:text-gray-400">
    <thead class="text-xs text-gray-400 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th (click)="sortTable('symbol')" class="px-6 py-3 text-center text-xs font-medium text-gray-100 uppercase tracking-wider cursor-pointer">Symbol</th>
        <th (click)="sortTable('amount')" class="px-6 py-3 text-center text-xs font-medium text-gray-100 uppercase tracking-wider cursor-pointer">Amount</th>
        <th (click)="sortTable('usdPrice')" class="px-6 py-3 text-center text-xs font-medium text-gray-100 uppercase tracking-wider cursor-pointer">USD Price</th>
        <th (click)="sortTable('totalValue')" class="px-6 py-3 text-center text-xs font-medium text-gray-100 uppercase tracking-wider cursor-pointer">Total Value</th>
        <th class="px-6 py-3 text-center text-xs font-medium text-gray-100 uppercase tracking-wider">Actions</th>
      </tr>
    </thead>
    <tbody class="">
      <ng-container *ngIf="portfolio.length > 0; else emptyTable">
        <tr *ngFor="let item of portfolio; let i = index;" class=" border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="px-6 py-4 whitespace-nowrap" >
            <div class="symbol-container">
              <img (error)="setSrc($event)" [src]="'assets/cryptocurrency-icons/' + item.symbol.toLowerCase() + '@2x.png'" alt="{{ item.symbol }} Icon" class="icon-size"/>
              <span>{{ item.symbol }}</span>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap justify-center" style="margin: auto;">
            <div *ngIf="!item.editing">{{ item.amount }}</div>
            <div *ngIf="item.editing" class="flex items-center justify-center w-1" style="margin: auto;">
              <input [(ngModel)]="item.amount" type="number" class="w-1/4 text-center no-spinner " (click)="$event.stopPropagation()" (keyup.enter)="toggleEditing(i)">
              <!-- <button (click)="toggleEditing(i); $event.stopPropagation()" class="ml-2 text-white bg-blue-500 px-2 py-1 rounded">Save</button> -->
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">{{ item.usdPrice | currency:'USD' }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ item.amount * item.usdPrice | currency:'USD' }}</td>
          <td class="px-6 py-4 flex whitespace-nowrap justify-center" (mousedown)="$event.stopPropagation()">
            <button (click)="toggleEditing(i); $event.stopPropagation()" class="text-blue-600 focus:outline-none flex justify-center items-center ml-4" style="margin: 0; padding: 0;">
              <i *ngIf="!item.editing" class="material-icons">edit</i>
              <i *ngIf="item.editing" class="material-icons">save</i>
            </button>
            <app-confirmation-dialog
              [showDialog]="showConfirmationDialog"
              (confirm)="deleteConfirmed(item.symbol)"
              (cancel)="deleteCancelled()"
            ></app-confirmation-dialog>
            <button (mousedown)="openModal(item.symbol); $event.stopPropagation()" class="text-green-600 focus:outline-none flex justify-center items-center ml-4" style="margin: 0; padding: 0;">
              <i class="material-icons">bar_chart</i>
            </button>
            <button (mousedown)="showDeleteConfirmation(); $event.stopPropagation()" class="text-red-600 focus:outline-none flex justify-center items-center ml-4" style="margin: 0; padding: 0;">
              <i class="material-icons">delete</i>
            </button>
            
            
          </td>
          
        </tr>
        <div
          class="modal-container"
          *ngIf="showModal"
          (click)="toggleModal()"
        >
          <div
            class="modal dark"
            (click)="$event.stopPropagation()"
          >
            <h2 class="text-lg font-semibold mb-4">
              <div class="symbol-container">
                <img (error)="setSrc($event)" [src]="'assets/cryptocurrency-icons/' + clickedAssetName.toLowerCase() + '@2x.png'" alt="{{ clickedAssetName }} Icon" class="icon-size"/>
                <span class="font-normal">{{ clickedAssetName }}</span>
              </div>
              <p *ngIf="graphLoading">Loading</p>
              <div id="chartContainer"></div>
            </h2>
            <button
              class="close-btn"
              (click)="toggleModal()"
            >
              Close
            </button>
          </div>
        </div>

      </ng-container>
      <ng-template #emptyTable>
        <tr>
          <td colspan="4" class="px-6 py-4 text-center text-gray-500">No data available</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
